<center>
<h1>Viewing Party Lite</h1>

<% if current_user %>
  <%= button_to "My Dashboard", dashboard_path, method: :get %><br>
  <%= button_to "Log Out", "/logout", method: :delete %>
  
  <h3>Current Users</h3>
  <div id="users">
    <% @users.each do |u| %>
      <%= u.email %><br>
    <% end %>
  </div>
<% else %>
  <h3>Login or Register</h3>
  <%= button_to "Register as a User", new_user_path, method: :get %><br>
  <%= button_to "Log In", "/login", method: :get %>
<% end %>


</center>